/**
 * 计算总价
 * @params sunAry { array } 参加的计算的金额数字
 * @params fixedSize { number } 保留几位小数 默认 2
 */
var sumPrice = function (sunAry, fixedSize) {
  var sum = 0;
  for (var i = 0; i < sunAry.length; i++) {
    var value = sunAry[i];
    if (!isNaN(value)) {
      sum += (value * 100)
    }
  }
  return ((sum / 100).toFixed(fixedSize || 2))
};

/**
 * 资金流水详情
 */
var capitalFormatText = function (type) {
  var typeList = ['充值', '提现', '冻结', '解冻', '收入', '支出'];
  return (typeList[type - 1] || '未知类型')
};

/**
 * 支出还是收入
 * @param type
 * @returns {string|string}
 */
var isIncome = function (type) {
  return [1, 5, 4].indexOf(type) !== -1;
};

/**
 * 支出还是收入
 * @param status
 * @returns {string|string}
 */
var orderStatusFormatTitle = function (status) {
  var orderStatus = {
    code1: '未接单',
    code2: '代练中',
    code3: '待验收',
    code4: '撤销中',
    code5: '仲裁中',
    code6: '异常',
    code7: '锁定',
    code8: '已撤销',
    code9: '已仲裁',
    code10: '已结算',
    code11: '强制撤销',
    code12: '已下架',
    code13: '已撤单'
  };
  return orderStatus['code' + status] || '未知';
};

module.exports = {
  sumPrice: sumPrice,
  capitalFormatText: capitalFormatText,
  isIncome: isIncome,
  orderStatusFormatTitle: orderStatusFormatTitle
};